<div class="col-lg-12 mt-4 pt-4">
  <ul class="nav nav-tabs course-page bg-white" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        aria-controls="home"
        aria-selected="true"
        class="nav-link active"
        data-toggle="tab"
        href="#home"
        id="home-tab"
        role="tab">What Is Included?</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        aria-controls="profile"
        aria-selected="false"
        class="nav-link"
        data-toggle="tab"
        href="#profile"
        id="profile-tab"
        role="tab">What Is Not Included?</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        aria-controls="contact"
        aria-selected="false"
        class="nav-link"
        data-toggle="tab"
        href="#contact"
        id="contact-tab"
        role="tab">What To Bring With You?</a
      >
    </li>
  </ul>
  <div class="tab-content bg-white" id="myTabContent">
    <div aria-labelledby="home-tab" class="tab-pane fade active show" id="home" role="tabpanel">
      <p class="common-sub-heading">What does the course fees include?</p>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <ul class="icon-list">
            <li>25 Days &amp; 24 Nights Accommodation</li>
            <li>Yoga material</li>
            <li>Kirtan Night</li>
            <li>Daily nutritious vegetarian, vegan meals</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul class="icon-list">
            <li>Kirtan night</li>
            <li>Full body massage</li>
            <li>Weekend excursions</li>
          </ul>
        </div>
      </div>
    </div>
    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
      <p class="common-sub-heading">What is not included in the course fees ?</p>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <ul class="icon-list">
            <li>Ayurvedic Panchakarma &amp; Treatment</li>
            <li>Air-conditioner- (On Additional Charges)</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul class="icon-list">
            <li>Visa fee/Air fare/Taxi pick-up from Delhi, Haridwar</li>
          </ul>
        </div>
      </div>
    </div>
    <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
      <p class="common-sub-heading">Clothes</p>
      <ul class="icon-list">
        <li>Please Carry a White Dress For Course Cermony</li>
        <li>
          As for Yoga gear, we recommend carrying a couple of pairs of leggings or yoga pants and
          supportive tops, especially if you have a favorite style.
        </li>
        <li>Pants (for yoga, town, travel, hiking)</li>
        <li>Tops (for yoga, short or long sleeved shirts for other activities)</li>
        <li>Outer layer (sweatshirt or light jacket/fleece)</li>
        <li>Sleepwear</li>
        <li>Sandals or flip-flops</li>
        <li>Please carry a bath towel</li>
      </ul>
      <p class="common-sub-heading">Yoga Mat</p>
      <ul class="icon-list">
        <li>
          Our schools offer mats however, if you are used to use your own, bring one from home.
        </li>
        <li>We Provide You All The Course Material</li>
      </ul>
      <p class="common-sub-heading">Toiletries</p>
      <ul class="icon-list">
        <li>
          Carry essentials like deodorants, mosquito-repellents, sanitary towels, these are all you
          can buy From Nearby Shop locally
        </li>
        <li>
          Generally Things Like Soap Or Shampoo You Can Carry With You, Also You can Buy From Here
          with the nearby Shop.
        </li>
      </ul>
      <p class="common-sub-heading">Medicines</p>
      <ul class="icon-list">
        <li>
          Yoga Schools usually offer Saatvic vegetarian meals. If you are not used to a completely
          vegetarian meal, we recommend carrying your supplements or multivitamins. In addition
          carry your supply of prescription medicines, medicines for allergies, flu, muscle pains or
          even eye drops for dryness.
        </li>
      </ul>
    </div>
  </div>
</div>
