---
import SectionHeader from '../../ui/SectionHeader.astro';


interface Props {
  timelineData: {
    title: string;
    events: Array<{
      title: string;
      date: string;
      time: string;
      icon: string;
    }>;
  };
}

const { timelineData } = Astro.props;
---

<section class="py-16 bg-orange-200 font-quicksand">
  <div class="container mx-auto px-4">
    <!-- Section Header -->
    <SectionHeader
      title={timelineData.title}
    />

    <!-- Timeline Grid -->
    <div class="mx-auto max-w-6xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
          timelineData.events.map((event) => (
            <div class="bg-white rounded-xl md:p-6 p-1 hover:shadow-xl duration-300">
              <div class="flex items-start space-x-4">
                <!-- Icon -->
                <div class="flex-shrink-0 w-20 h-20 rounded-full flex items-center justify-center">
                  <i class:list={['fas', event.icon, 'text-orange-600', 'text-5xl']}></i>
                </div>

                <!-- Content -->
                <div class="flex-1">
                  <h3 class="text-3xl font-bold text-gray-800 mb-2">
                    {event.title}
                  </h3>
                  <div class="space-y-1">
                    <p class="">
                      <span class="font-semibold text-primary text-lg">{event.date} | {event.time}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
