<section class="section-gap" id="desktop-syllabus">
  <div class="container">
    <div class="row course-video">
      <div class="col-lg-12">
        <h2 class="common-heading text-center">
          Curriculum - 200 Hour Multi-Style Yoga Teacher Training Course
        </h2>
      </div>
      <div class="col-lg-12 my-new-syllabus">
        <p class="notes">Mantra &amp; Mantra Chanting</p>
        <p><strong>Mantra</strong></p>
        <p>
          Mantras are sacred sounds, words, or phrases which are recited to attain spiritual
          attention. In other words, a mantra is a tool of the mind. It helps the mind in focusing
          better.
        </p>
        <ul class="icon-list mycc-2">
          <li>Art of Mantra</li>
          <li>Science of Mantra</li>
          <li>Power of Mantra</li>
          <li>Formation of Mantra</li>
          <li>Mantra as a Religion</li>
          <li>Vibration of Sound</li>
        </ul>
        <p><strong>Mantra Chanting</strong></p>
        <p>
          Mantra Chanting is a powerful tool which develops a spiritual connection inside you. It,
          in turn, creates a balance between the body, mind, and spirit.
        </p>
        <ul class="icon-list mycc-2">
          <li>How to chant the mantra properly?</li>
          <li>Om Mantra</li>
          <li>Peaceful Shiva Mantra</li>
          <li>Energetic Durga Mantra</li>
          <li>Kundalini Mantra</li>
          <li>Ganesha Mantra for removing hurdles</li>
          <li>Joyous Krishna Mantra</li>
          <li>Gayatri Mantra for the purification of the mind</li>
          <li>Sahana Mantra for Guru Disciple Study</li>
          <li>Guru Mantra for paying homage to Guru</li>
          <li>
            Early Morning Chant - asato ma sadgamaya, tamaso ma jyotirgamaya, mrtyorma amrtam
            gamaya, om shanti shanti shanti ||
          </li>
          <li>
            Surrender Mantra - twameva mata cha pita twameva, tvameva bandhushcha sakha tvameva,
            tvameva vidya dravinam tvameva, tvameva sarvam mama deva deva ||
          </li>
          <li>
            Maha Mritunjaya Mantra - Om Tryambak Yajamahe, Sugandhim Pushtee-Vardhanam, Urvarukmeva
            Bandhanaan, Mrtyoh-Mrukshiya MaaMmrataat
          </li>
          <li>Patanjali Mantra (Yogenacittasya)</li>
          <li>
            Suryanamaskar 12 Mantra - Om Mitraaya Namaha, Om Ravaye Namaha, Om Suryaaya Namaha, Om
            Bhaanave Namaha, Om Khagaya Namaha, Om Pooshne Namaha, Om Hiranyagarbhaaya Namaha, Om
            Mareechaye Namaha, Om Adityaaya Namaha, Om Savitre Namaha, Om Aarkaaya Namaha, Om
            Bhaskaraaya Namaha
          </li>
        </ul>
        <p class="notes">Traditional Hatha Yoga</p>
        <p>
          Traditional Hatha Yoga sessions conducted by our school are a positive workout for one's
          physical and mental wellness. It originated years ago with the aim to attain health and
          peace. The practice also benefits you with strength and flexibility.
        </p>
        <ul class="icon-list mycc-2">
          <li>PavanMuktasana series 1 (15 practices)</li>
          <li>PavanMuktasana series 2 (10 practices)</li>
          <li>PavanMuktasana series 3 (10 practices)</li>
          <li>Centering postures series (Yoga Sequence Builder) (5 practices)</li>
          <li>Surya Namaskar (Sun Salutation) (12 asana series)</li>
          <li>Chandra Namaskar (Moon Salutation) (12 Asana Series)</li>
          <li>Standing postures series (10 practices)</li>
          <li>Kneeling postures series (5 practices)</li>
          <li>Sitting Postures series (10 practices)</li>
          <li>Forward bending postures series (5 practices)</li>
          <li>Backward bending postures series (5 practices)</li>
          <li>Supine postures series (6 practices)</li>
          <li>Prone Postures series (5 practices)</li>
          <li>Fire Series series (5 practices)</li>
          <li>Inversions series (5 practices)</li>
          <li>Twisting postures series (5 practices)</li>
          <li>Balancing Postures series (5 practices)</li>
          <li>Relaxing Posture series (5 practices)</li>
          <li>Meditative Asana Series (5 practices)</li>
        </ul>
        <p>Overall you will learn 140 series of asanas.</p>
        <p><strong>Theory of Hatha Yoga</strong></p>
        <p>
          You have done practice sessions but what about theory? It is also as important as practice
          sessions. If you are not theoretically aware of Hatha yoga and its elements, you are not
          able to practice it well.
        </p>
        <ul class="icon-list mycc-2">
          <li>Hatha Yoga Philosophy</li>
          <li>Ancient Scriptures &amp; Texts of Hatha Yoga</li>
          <li>Aim and Objectives</li>
          <li>Yoga as a Therapy</li>
          <li>Yoga as Balancing</li>
          <li>Connection of Hatha Yoga with Chakras, Nadis, Kundalini, and the Subtle Body</li>
        </ul>
        <p class="notes">Ashtanga Yoga</p>
        <p>
          More than a teaching session conducted by yog gurus, Ashtanga Yoga is a self-assisted and
          practice class. All students are doing the same sequence and postures, supported by
          experienced teachers.
        </p>
        <ul class="icon-list mycc-2">
          <li>Introduction</li>
          <li>History</li>
          <li>Awakening the Inner Fire</li>
          <li>The Breath of Life (Prana)</li>
          <li>Chakras</li>
          <li>Eight Limbs of Yoga (Ashtanga Yoga)</li>
          <li>The practice of K.Pattabhi Jois</li>
          <li>Bandha practice</li>
          <li>Drishti (Focusing the Attention)</li>
          <li>Cleansing &amp; Purification</li>
          <li>Developing a pious platform for yogic practice</li>
          <li>Use of yoga props and instruments</li>
          <li>Sun Salutation A &amp; B (week 1) - Surya Namaskar Series A &amp; B</li>
          <li>Standing Asana Series (week 2)</li>
          <li>Sitting Asana Series (Week 3)</li>
          <li>Finishing Asana Series (Week 3)</li>
          <li>Teaching Practices (Traditional &amp; Mysore Style- Week 4)</li>
          <li>Padangustasana (Big toes Posture)</li>
          <li>Pada hastasana (Hand under foot posture)</li>
          <li>Utthita trikoṇasana (A+B) (Triangle posture)</li>
          <li>Utthita parsvakonasana (A+B) (Extended side angle pose)</li>
          <li>Prasarita padottanasana (A,B,C,D) (Intense wide leg stretch)</li>
          <li>Parsvottanasana (Intense side stretch posture)</li>
          <li>Utthita Trikoṇasana (A+B) Triangle posture</li>
          <li>Utthita Parsvakonasana (A+B) Extended side angle pose</li>
          <li>Prasarita Padottanasana (A,B,C,D) - Intense wide leg stretch</li>
          <li>Parsvottanasana – Intense side stretch posture</li>
          <li>Utthita Hasta Padangusṭasana- hand to big toe posture</li>
          <li>Ardha bandha padmottanasana (Half-bound lotus forward bend)</li>
          <li>Utkatasana (Fierce pose)</li>
          <li>Virabhadrasana (Warrier pose) A+B</li>
          <li>Dandasana (Staff pose)</li>
          <li>Pascimattanasana (Intense west stretch or sitting forward bend)</li>
          <li>Purvattanasana (Intense east stretch)</li>
          <li>Ardha bandha padma pascimattanasana (Half bound lotus forward bend)</li>
          <li>Tiryangmukha Eka pada pascimattanasana (Reverse the leg, one leg intense stretch)</li>
          <li>Janusirsasana (Head-to-knee pose)</li>
          <li>Marichyasana (Leg Binding Pose)</li>
          <li>Navasana (Boat Pose)</li>
          <li>Bhujapiḍasana (Shoulder Pressure Pose)</li>
          <li>Kurmasana (Tortoise Pose)</li>
          <li>Suptakurmasana (Reclining Turtle Pose Yoga)</li>
          <li>Garbhapindasana (Womb Pose)</li>
          <li>Kukkutasana (Cockerel Pose, or Rooster Posture)</li>
          <li>Baddha Konasana (Bound Angle Pose, Butterfly Pos</li>
          <li>Upavistha Konasana (Seated Angle Posture)</li>
          <li>Suptakonasana</li>
          <li>Supta Padangustasna</li>
          <li>Ubhaya Padangustasna</li>
          <li>Urdhvamukha Pascimattanasana</li>
          <li>Setubandhasana (Bridge Pose)</li>
        </ul>
        <p><strong>Finishing Postures</strong></p>
        <ul class="icon-list mycc-2">
          <li>Urdhva Dhanurasana (upward bow posture)</li>
          <li>Salaṁba sarvangasana (shoulder stand posture)</li>
          <li>Halasana (plough posture)</li>
          <li>Karṇa pidasana (ear pressure posture)</li>
          <li>Pindasana (Embryo Pose)</li>
          <li>Matsyasana (Fish Pose)</li>
          <li>Uttanapadasana (Leg Lifting Posture)</li>
          <li>Chakrasana (Wheel Pose)</li>
          <li>Shirshasana (Yoga Headstand)</li>
          <li>Baddhapadmāsana (Bound Lotus Posture)</li>
          <li>Yoga Mudra</li>
          <li>Padmasana (Lotus Pose)</li>
          <li>Utpluthiḥ</li>
          <li>Savasana (Corpse Pose)</li>
        </ul>
        <p class="notes">Pranayama (Breathing Practices)</p>
        <p>
          Prana, the life energy Yama means control. It is the foundation practice of traditional
          form of yoga. It is not just a breathing practice but much more than this. The class of
          pranayama reveals its secrets and the power of pranayama to gain the right health, peace,
          and balance.
        </p>
        <p>The four week course offers a different experience, such as,</p>
        <p>
          <strong>Week 1:</strong> Step wise knowledge of pranayama and building strength.
        </p>
        <p>
          <strong>Week 2:</strong> From the beginning to the deep core of pranayama.
        </p>
        <p>
          <strong>Week 3:</strong> Advance practice by holding the breath and manifesting chakra awareness.
        </p>
        <p>
          <strong>Week 4:</strong> Teaching practice while moving to the master level of the breath.
        </p>
        <p><strong>Pranayama Topics:</strong></p>
        <ul class="icon-list mycc-2">
          <li>Definition of Prana</li>
          <li>Definition of Pranayama</li>
          <li>Definition of breath</li>
          <li>Connection of the Prana and the breath</li>
          <li>Importance of Pranayama</li>
          <li>Benefits of Pranayama</li>
          <li>Preparing ourselves to practice pranayama</li>
          <li>Aspects of Breathing</li>
          <li>Ancient Texts of Breathing</li>
          <li>General understanding</li>
          <li>Knowledge of nostrils</li>
          <li>Activating nostrils for pranayama</li>
          <li>Secrets of Pranayama</li>
          <li>Breath flow in 5 elements</li>
          <li>Unit of Prana</li>
          <li>Function of Prana</li>
          <li>Three levels of Prana</li>
          <li>Three Gunas</li>
          <li>Flow of Prana</li>
          <li>Quality of breath</li>
          <li>Imbalance of Prana</li>
          <li>Retention of breath</li>
          <li>6 Sitting postures for Pranayama practices</li>
          <li>Breathing pattern</li>
          <li>Chakras and Kundalini connect with Prana</li>
        </ul>
        <p>
          <strong>Beginners and Intermediate Practices of Pranayama</strong>
        </p>
        <ul class="icon-list mycc-2">
          <li>Clavicular Pranayama</li>
          <li>Thoracic Pranayama</li>
          <li>Diaphragmatic Pranayama</li>
          <li>Yogic Pranayama</li>
          <li>Pranava Pranayama (Om Meditation Breathing)</li>
          <li>Nadi Shodhana Pranayama or Anulom Vilom Pranayama</li>
          <li>Bhastrika Pranayama (Bellows Breath)</li>
          <li>Kapalbhati Pranayama (Skull Shining Breath)</li>
          <li>Bhramari Pranayama (Humming Bee Breath)</li>
          <li>Ujjayi Pranayama (Ocean Breath)</li>
          <li>Sitali Pranayama (Cooling Breath)</li>
          <li>Sitkari Pranayama (Hissing Breath)</li>
          <li>Murcha Pranayama (Swooning Breath Yoga)</li>
          <li>Surya Bhedi Pranayama (Right Nostril Breathing)</li>
          <li>Chandra Bhedi Pranayama (Left Nostril Breathing)</li>
        </ul>
        <p class="notes">Meditation (Dhyana)</p>
        <p>
          Just like you involve your body in physical exercise for its benefits, in the same way,
          meditation is an exercise for mental health. With the power of meditation, you can control
          your mind and block negative and unnecessary thoughts. You enter into a deep state of
          relaxation where peace is the ultimate goal.
        </p>
        <p>
          During the meditation class, you are advised to sit quietly by keeping your focus on a
          single thing. It helps you in eliminating tension and stress. With the 200 Hours yoga
          teacher training course, you get to learn basic and intermediate techniques of meditation.
          The four weeks program work as,
        </p>
        <p>
          <strong>Week 1:</strong> Introducing Meditation and Building Foundation
        </p>
        <p>
          <strong>Week 2:</strong> Making the mind able to focus on a single aspect with concentration
          process and exercises.
        </p>
        <p><strong>Week 3:</strong> Meditation Techniques</p>
        <p>
          <strong>Week 4:</strong> Chakra Awareness and Kundalini Meditation
        </p>
        <p><strong>What'll you learn?</strong></p>
        <ul class="icon-list mycc-2">
          <li>What is Meditation?</li>
          <li>History and Origin of Meditation</li>
          <li>How to prepare yourself for Meditation?</li>
          <li>What Meditation is actually?</li>
          <li>What Meditation is not?</li>
          <li>Why to meditate?</li>
          <li>How to meditate?</li>
          <li>Where to meditate?</li>
          <li>When to meditate?</li>
          <li>Philosophy of Meditation</li>
          <li>Meditation Traditions</li>
          <li>Meditation Scriptures</li>
          <li>Aim and Objectives of Meditation</li>
          <li>Sitting Positions</li>
          <li>How to Sit Correctly</li>
          <li>Preliminary Practices Before Practicing Meditation</li>
          <li>Diaphragmatic Breathing in Meditation</li>
          <li>Correct Breathing in Meditation</li>
          <li>How to Relax in Meditation?</li>
          <li>Lifestyle in Meditation</li>
          <li>Diet of Meditation</li>
          <li>Why should one sleep while meditating?</li>
          <li>What are the rules of meditation?</li>
        </ul>
        <p><strong>Styles of Meditation Practices</strong></p>
        <p><strong>Himalayan Meditation Practices</strong></p>
        <ul class="icon-list mycc-2">
          <li>Basics Foundation Meditation Practice</li>
          <li>Breath- Mind- Mantra Awareness</li>
          <li>Trataka Meditation</li>
        </ul>
        <p><strong>Nada Meditation Practices</strong></p>
        <ul class="icon-list mycc-2">
          <li>Music Meditation</li>
          <li>Om Meditation</li>
          <li>Mantra Power Meditation</li>
        </ul>
        <p><strong>Active Meditation Practices</strong></p>
        <ul class="icon-list mycc-2">
          <li>Dynamic Moving Meditation (Osho)</li>
          <li>Buddha Walking Meditation</li>
          <li>Karma Yoga Meditation</li>
          <li>Natraj Meditation</li>
          <li>Sufi Meditation</li>
          <li>Gaurishankar Meditation</li>
          <li>Ajna Chakra Awakening Meditation</li>
          <li>Kundalini Active Meditation</li>
        </ul>
        <p><strong>Vipassana &amp; Passive Meditation Practices</strong></p>
        <ul class="icon-list mycc-2">
          <li>Breath Awareness (Anapana)</li>
          <li>Mindfulness and Sensation</li>
          <li>Total Awareness Practice</li>
          <li>How to Do Japa (recitation)</li>
        </ul>
        <p><strong>Kirtan Even and Creating a Spiritual Vibe</strong></p>
        <p><strong>One-Day Silence Meditation</strong></p>
        <p><strong>Silence Practice</strong></p>
        <p class="notes">Yoga Nidra (Psychic Sleep)</p>
        <p>
          Yoga Nidra is also known as Psychic Sleep. The practice creates a state between waking and
          sleeping. It is a state of consciousness. One can go into this deep and conscious sleep
          with the practice of guided meditation. Yoga Nidra can also be termed as the victory over
          sleep. You can relax your mind and complete the sleep of 8 hours in just a short practice
          of yoga nidra. When you go through the epic, Mahabharata, you get to know that Arjuna (one
          of the Pandavas) was associated with Yoga Nidra.
        </p>
        <p>The four-week program of Yoga Nidra includes,</p>
        <p><strong>Week 1: </strong>Basic Relaxation Practices</p>
        <p><strong>Week 2:</strong> Visualisation Yoga Nidra</p>
        <p><strong>Week 3:</strong> Chakra Awareness Yoga Nidra</p>
        <p><strong>Week 4:</strong> Inner Flame Yoga Nidra</p>
        <p><strong>What'll you learn?</strong></p>
        <ul class="icon-list mycc-2">
          <li>Basics of Yoga Nidra</li>
          <li>Meaning of Yoga Nidra</li>
          <li>Purpose of Yoga Nidra</li>
          <li>Different Schools of Yoga Nidra</li>
          <li>Traditions of Yoga Nidra</li>
          <li>Tantric Origin of Yoga Nidra</li>
          <li>Lifestyle for Yoga Nidra Practitioners</li>
          <li>Rules for Yoga Nidra Practitioners</li>
          <li>Benefits of Yoga Nidra</li>
          <li>Risks of Yoga Nidra</li>
          <li>Difference Between Yoga Nidra and Meditation</li>
          <li>Yoga Nidra Experience</li>
          <li>Yoga Nidra and Healing</li>
          <li>4 States of Consciousness</li>
          <li>3 Body Awareness</li>
          <li>Tension Relaxation</li>
        </ul>
        <p class="notes">Yoga Cleansing (Shatkarma)</p>
        <p>
          "Shat" means "Six" and "Karma" means "Actions". Thus, as per yogic science, Shatkarma is
          six cleansing actions that help to clean your body and mind. It is well described in the
          Hatha Yoga Tradition. Shatkarma is an important practice to maintain a balance between
          body and mind and also promote well-being. The practice eliminates toxins from the body
          and unblocks energy channels.
        </p>
        <p>With the 200 Hours Yoga TTC, you will learn,</p>
        <ul class="icon-list mycc-2">
          <li>Introduction to Shatkarma</li>
          <li>Benefits of Shatkarma</li>
          <li>Risks of Shatkarma</li>
          <li>Who should practice it?</li>
          <li>Who should not practice it?</li>
          <li>Experiences</li>
          <li>Preparation to Shatkarma</li>
          <li>Practices After Completing It</li>
          <li>Cleansing of Nadis or Energy Channels</li>
        </ul>
        <p><strong>Practices that you will learn</strong></p>
        <ul class="icon-list mycc-2">
          <li>Jihwa Dhauti (Tongue Cleansing)</li>
          <li>Danta Dhauti (Teeth Cleansing)</li>
          <li>Karna Dhauti (Ear Cleansing)</li>
          <li>Jalaneti (Cleansing with Water)</li>
          <li>Kapalbhati (Mind Cleansing)</li>
          <li>Agnisara (Cleansing with Fire)</li>
        </ul>
        <p class="notes">Yoga Philosophy (Yoga Darshana)</p>
        <p>
          Yoga Philosophy is a powerful subject that can change one's life. Many are confused that
          it only exists in Patanjali's Yoga Sutras but this is not true. It is the philosophy of
          life which can also be found in Bhagwat Geeta, Hatha Yoga Pradipika and Upanishads. The
          basic and main philosophy of yoga is simple, body, mind, and soul are one and one can not
          separate them.
        </p>
        <p>
          During the 4 weeks of the 200 Hours Yoga Course, Yoga Philosophy will explain to you the
          motive of life.
        </p>
        <p><strong>Week 1:</strong> The World of Wisdom</p>
        <ul class="icon-list mycc-2">
          <li>Introduction to Indian Culture</li>
          <li>Spirituality and Himalayan Tradition</li>
          <li>Introduction to the Ancient Scriptures of Yoga and Spirituality</li>
          <li>Meaning of Indian Philosophy</li>
          <li>Purpose of Indian Philosophy</li>
          <li>Introduction to 9 Major Indian Philosophy</li>
          <li>What is Yoga Philosophy the Most Important among All?</li>
          <li>History of Yoga</li>
          <li>Types of Yoga</li>
        </ul>
        <p><strong>Week 2:</strong> Yoga Sutras of Patanjali</p>
        <ul class="icon-list mycc-2">
          <li>Patanjali and His Work</li>
          <li>Introduction to Yoga Sutras Text</li>
          <li>
            Eight Limbs of Yoga (Ahimsa, Satya, Asteya, Brahmacharya, Aparigraha, Saucha, Santosha,
            and Tapas)
          </li>
          <li>Yamas &amp; Niyamas</li>
          <li>Philosophy of Asana &amp; Pranayama</li>
          <li>Karmic Science</li>
        </ul>
        <p><strong>Week 3:</strong> Internal Limbs</p>
        <ul class="icon-list mycc-2">
          <li>Concentration, Meditation, and Samadhi</li>
          <li>First Chapter</li>
          <li>Second Chapter</li>
          <li>Third and Fourth Chapters of Patanjali</li>
          <li>Mind and Its Control</li>
          <li>Introduction to Bhagavat Geeta &amp; Upanishad</li>
        </ul>
        <p><strong>Week 4:</strong> Exploring the wisdom of Yoga</p>
        <ul class="icon-list mycc-2">
          <li>Chakras</li>
          <li>Nadi</li>
          <li>Kundalini</li>
          <li>Three Fold Pain</li>
          <li>Three Bodies (Sharira)</li>
          <li>Pancha kosha</li>
          <li>Tri-guna</li>
          <li>Mahabhuta (Theory of Elements)</li>
        </ul>
        <p class="notes">Anatomy &amp; Physiology (Sharir Vijnan)</p>
        <p>
          In yoga, anatomy is a crucial subject for yoga teachers and learners. In the class, you
          will get to know physical anatomy and spiritual anatomy.
        </p>
        <p><strong>Physical Anatomy</strong></p>
        <ul class="icon-list mycc-2">
          <li>Introduction to Body</li>
          <li>Bodily Structures</li>
          <li>Body Planes</li>
          <li>Anatomical Movements</li>
          <li>Bones of the Skull</li>
          <li>Cervical Vertebrae</li>
          <li>Shoulder Girdle/ Arm Bones/ Pelvic Region</li>
          <li>Deformities of the Spine</li>
          <li>Lower Extremity</li>
          <li>Tendons and Ligaments</li>
          <li>Muscular System</li>
          <li>Nervous System</li>
          <li>Respiratory System</li>
        </ul>
        <p><strong>Spiritual Anatomy</strong></p>
        <ul class="icon-list mycc-2">
          <li>Nadi (Energy Channel)</li>
          <li>Chakras (Energy Centres)</li>
          <li>Kundalini (Prime Energy and Souce of All Creativity)</li>
          <li>Pancha kosha (5 Layers)</li>
          <li>Pancha Mahabhuta (5 Elements and Body Structure)</li>
          <li>Tri-Guna (Three Attributes)</li>
        </ul>
        <p class="notes">Yoga Therapy</p>
        <p>
          Yoga is the wellness science for nurturing the body, mind and spirit. It is the natural
          healing process to keep you healthy and free from illness. Yoga therapy uses yoga
          postures, breathing exercises (pranayama), meditation, and other practices to improve
          physical and mental well-being. Yoga therapy encourages the amalgamation of the body,
          mind, and spirit.
        </p>
        <p>In the 200 Hours Yoga Course, you will learn,</p>
        <ul class="icon-list mycc-2">
          <li>Definition of Yoga Therapy</li>
          <li>Rules and Regulations of Yoga Therapy</li>
          <li>Healing Through Asana, Pranayama and Meditation</li>
          <li>Therapy for Common Diseases</li>
        </ul>
        <p class="notes">Ayurveda</p>
        <p>
          Ayurveda is the oldest and the most natural system of medicine that originated in India
          years ago. It is approximately 3000 years ago medicinal science. Ayurveda is derived from
          two words, "Ayur" means "Life" and "Veda" means "Science", thus Ayurveda describes the
          meaning "Science of Life" or 'Knowledge of Life'. As per Ayurvedic Science, the body is
          made up of five elements, i.e. Akash (Ether), Vayu (Air), Agni (Fire), Apas (Water), and
          Prithvi (Earth). These 5 elements create 3 doshas namely, Kapha, Vata and Pitta. When
          these are balanced, then an individual remains healthy and when these are imbalances, an
          individual remains ill. Ayurveda helps in balancing all of these to give you a healthy
          lifestyle.
        </p>
        <p><strong>The 200 Hours Yoga Course explains,</strong></p>
        <ul class="icon-list mycc-2">
          <li>What is Ayurveda?</li>
          <li>Ayurvedic Treatment and its Unique Features</li>
          <li>Ayurveda and Its Diversified Areas</li>
          <li>Ashtanga Ayurveda</li>
          <li>Fundamentals of Ayurveda</li>
          <li>
            Panchamahabhuta [Earth (Prithvi), Water (Jal), Fire (Agni), Air (Vayu) and Aether /
            Space (Aakash)]
          </li>
          <li>Kapha</li>
          <li>Vata</li>
          <li>Pitta</li>
          <li>Prakriti- Know Your Constitution</li>
        </ul>
        <p class="notes">Mudras</p>
        <p>
          Mudra is a symbolic gesture. It is normally practices with hands and fingers, explaining
          the flow of energy in the subtle body. It brings a wondrous change in body and mind.
        </p>
        <p>The 200 Hours Yoga Course explains,</p>
        <ul class="icon-list mycc-2">
          <li>Mudras</li>
          <li>The Secrets of Mudra</li>
          <li>The Position of Elements in the Hands</li>
          <li>The Need for Mudra</li>
          <li>Advantages of Mudras</li>
          <li>Special Guidelines About Mudra</li>
          <li>Gyan Mudra (Gesture of Wisdom)</li>
          <li>Purn Gyan Mudra (Gesture of Complete Wisdom)</li>
          <li>Vairagya Mudra (Gesture of Dispassion)</li>
          <li>Abhaya Mudra (Gesture of Fearlessness)</li>
          <li>Dhyana Mudra (Meditation Mudra)</li>
          <li>Vayu Mudra (Gesture of Air)</li>
          <li>Pran Mudra (Gesture of Prana)</li>
          <li>Prithvi Mudra (Gesture of Earth)</li>
          <li>Surya Mudra (Gesture of Sun)</li>
          <li>Varun Mudra (Gesture of God of Water)</li>
          <li>Shoonya mudra (Gesture of Openness, Space)</li>
          <li>Pran-Apan Mudra (Gesture of Prana Apana)</li>
        </ul>
        <p class="notes">Bandhas (Energy Lock)</p>
        <p>
          Bandhas is the Sanskrit word which means Lock. The aim of it is to block the energy flow
          from a particular part of the body. When the lock is opened, then the energy flows
          properly throughout the body and maintains overall wellness and vitality.
        </p>
        <ul class="icon-list mycc-2">
          <li>Meaning and Importance of Energy Lock</li>
          <li>Why the Energy Lock and How Our Energy Gets Drained</li>
          <li>Energy Knots and How to Open Them</li>
          <li>Understanding the Three Chakras (Muladhara, Manipura, Visuddhi)</li>
          <li>Experience with Energy Lock</li>
          <li>Benefits and Risks of Bandha Practices</li>
        </ul>
        <p><strong>Practices (Beginners and Intermediate Level)</strong></p>
        <ul class="icon-list mycc-2">
          <li>Agnisar (Preparation to Uddiyana)</li>
          <li>Vahir Kumbhaka (External Retention)</li>
          <li>Antar Kumbhaka (Internal Rentention)</li>
          <li>Ashwini Mudra to prepare Mulabandha</li>
          <li>Vajroli Mudra to prepare Mulabandha</li>
          <li>Mula bandhas (Root lock)</li>
          <li>Uddiyana bandha (Abdominal lock)</li>
          <li>Jalandhar Bandha (Throat Lock)</li>
        </ul>
        <p class="notes">Teaching Methodology</p>
        <p>
          While being a student, it is also necessary to learn to teach. You are on a journey from
          being a student to a teacher.
        </p>
        <ul class="icon-list mycc-2">
          <li>Proper sequence</li>
          <li>Avoid injuries</li>
          <li>Happiness during and after the practice</li>
          <li>Work with various styles of yoga and in all levels</li>
          <li>Meditative experience</li>
          <li>Managing the energy flow</li>
          <li>Balancing the energy flow</li>
        </ul>
        <p><strong>What you'll learn?</strong></p>
        <ul class="icon-list mycc-2">
          <li>Proper demonstration of a Yoga practice</li>
          <li>The proper way to instruct and guide a lesson</li>
          <li>Proper alignment of yoga postures</li>
          <li>Proper adjustment with/ without props</li>
          <li>Yogic personality establishment</li>
        </ul>
        <p class="notes">Alignment</p>
        <p>
          In yoga, alignment is the right way to perform any asana so that one can minimise the risk
          of injury and reap maximum benefits from it.
        </p>
        <p><strong>What'll you learn?</strong></p>
        <ul class="icon-list mycc-2">
          <li>Sense of alignment</li>
          <li>Role of alignment in daily practice</li>
          <li>Balancing prana &amp; chakras</li>
          <li>Alignment and 5 koshas</li>
          <li>Importance of Alignment</li>
          <li>A different aspect of Alignment</li>
          <li>Minimising the risk of injuries</li>
          <li>Increase the movement of joints</li>
          <li>Alignment based on body regions</li>
          <li>Upper Limb alignment</li>
          <li>Lower Limb alignment</li>
          <li>Torso – Thorax - Abdomen – Pelvis Alignment</li>
          <li>Alignment of Head &amp; Neck</li>
          <li>Alignment of the spine</li>
          <li>Basic postures of alignment</li>
          <li>Bringing the body into comfortable zone</li>
          <li>Balancing the body and mind</li>
        </ul>
        <p class="notes">Adjustment</p>
        <p>Adjustment in yoga is also about learning the correct technique of yoga.</p>
        <p><strong>You'll learn,</strong></p>
        <ul class="icon-list mycc-2">
          <li>What is yoga adjustment?</li>
          <li>Sense of yoga adjustment</li>
          <li>Level of yoga adjustment</li>
          <li>Why adjustment is needed in yoga asana</li>
          <li>Role of adjustments in yoga asana class</li>
          <li>The right technique for perfect adjustment</li>
          <li>Bandhas</li>
          <li>Dynamics of each asana</li>
          <li>How to adjust self adjust in a posture</li>
          <li>How to adjust to others during the class</li>
          <li>Methods of Adjustment</li>
          <li>Tools and props to achieve the peak in the posture</li>
          <li>Body weight management</li>
          <li>Safety rules</li>
          <li>Preparations for adjustment</li>
        </ul>
        <p class="notes">Yoga For Health</p>
        <ul class="icon-list mycc-2">
          <li>Yogic counselling for a healthy life.</li>
          <li>Yogic techniques to use in daily lifestyle.</li>
          <li>Yoga cures common diseases like Headaches, migraine, colds, sinus, etc.</li>
          <li>
            Yoga tools for back issues like backache, slipped disk, sciatica, diabetes, thyroid,
            spinal deformities, obesity, etc.
          </li>
        </ul>
        <p class="notes">Evaluation &amp; Certification</p>
        <ul class="icon-list mycc-2">
          <li>Performance during the course</li>
          <li>Attendance</li>
          <li>Practical asana demonstration test</li>
          <li>Written test (Objective and subjective type)</li>
          <li>Behavior</li>
        </ul>
      </div>
    </div>
  </div>
</section>
