---
interface Props {
  href: string;
  class?: string;
}

const { href, class: className = '' } = Astro.props;
---

<a class:list={[`inline-block cursor-pointer`,`${className}`]} href={href}>
  <slot />
</a>
