---
import { ICON_IMAGES } from '$constants/imageConstants';

export interface Props {
  text: string;
  className?: string;
}
const { text, className = '' } = Astro.props;
---

<div
  class:list={[
    'mb-2',
    'flex',
    'items-center',
    'justify-center',
    'rounded-lg',
    'backdrop-blur-sm',
    'transition-all',
    'duration-300',
    className,
  ]}
>
       <img class="w-14 h-14 rounded-full" src={ICON_IMAGES.OM_SYMBOL}  />

  <p class="flex-1 leading-relaxed text-gray-700 ml-2">{text}</p>
</div>
