---
interface Props {
  time: string;
  activity: string;
  alignRight?: boolean;
}
const { time, activity, alignRight = false } = Astro.props;
---

<div class="relative flex flex-col items-center pb-16">
  <div
    class="bg-bluelight absolute flex w-full skew-x-[-15deg] justify-center px-4 py-2 text-white"
    class:list={{
      'md:-left-10': alignRight,
      'md:-right-10': !alignRight,
    }}
  >
    <span class="inline-block skew-x-[5deg] font-bold text-xl">
      {time} - {activity}
    </span>
  </div>
</div>
